{% if product %}
  <!-- Popup --> <div data-rebuy-id="72122" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
{% endif %}

<script src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?shop={{ shop.permanent_domain }}" async></script>
