<div class="container page-content">
  <div class="border-bottom mb-4">
  </div>
	<div class="row mt-5 mb-7">
		<div class="col-12">
  		{{ page.content }}
		</div>
	</div>
</div>


{% schema %}
  {
    "name": "Page",
    "tag": "section",
    "class": "spaced-section"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}