
    
    <div id="replo-section-29b3c8bb-077a-43a1-85e8-4530974f5f17" data-runtime-version="5be49b64-8dfb-11ee-9866-fa36ffd4baf7" style="display:block !important;"><style id="replo-element-styles">:not(#\20):not(#\20).r-1fpkd4q{display:flex;position:relative;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1fpkd4q{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1fpkd4q{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-114ua18{display:flex;row-gap:50px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;font-family:Montserrat, sans-serif;padding-top:60px;padding-left:60px;padding-right:60px;flex-direction:column;padding-bottom:60px;justify-content:center;background-color:#E5853EFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-114ua18{row-gap:32px;position:relative;min-width:auto;column-gap:32px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:50px;padding-left:20px;padding-right:20px;padding-bottom:50px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-114ua18{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:50px;padding-left:40px;padding-right:40px;padding-bottom:50px;}}:not(#\20):not(#\20).r-1mdjz6l{width:100%;display:flex;row-gap:20px;position:relative;max-width:800px;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1mdjz6l{width:100%;display:flex;row-gap:16px;position:relative;max-width:450px;min-width:auto;align-self:center;column-gap:16px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1mdjz6l{width:100%;row-gap:15px;position:relative;max-width:650px;min-width:auto;align-self:center;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-indn3u{color:#FFFFFFFF;width:556px;font-size:40px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:ObjectSans, sans-serif;font-weight:700;line-height:42px;overflow-wrap:break-word;letter-spacing:0px;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-indn3u{width:auto;font-size:30px;align-self:auto;flex-basis:auto;text-align:center;flex-shrink:0;font-family:ObjectSans, sans-serif;line-height:35px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-indn3u{font-size:30px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}:not(#\20):not(#\20).r-en2iy8{color:#FFFFFFFF;font-size:20px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-en2iy8{font-size:16px;flex-basis:auto;text-align:center;flex-shrink:0;line-height:24px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-en2iy8{flex-basis:auto;text-align:center;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-1dmzda0{width:100%;display:grid;overflow:hidden;position:relative;max-width:800px;min-width:auto;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;background-color:#FFFFFF;border-top-color:#02056CFF;border-top-style:solid;border-top-width:1px;border-left-color:#02056CFF;border-left-style:solid;border-left-width:1px;border-right-color:#02056CFF;border-right-style:solid;border-right-width:1px;border-bottom-color:#02056CFF;border-bottom-style:solid;border-bottom-width:1px;grid-template-columns:repeat(2, minmax(0, 1fr));border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-left-radius:20px;border-bottom-right-radius:20px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1dmzda0{overflow:hidden;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1dmzda0{overflow:hidden;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-i5wnfw{width:100%;display:flex;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-i5wnfw{width:100%;display:flex;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-i5wnfw{width:100%;display:flex;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}}:not(#\20):not(#\20).r-e3k9g7{display:flex;row-gap:30px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:30px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-top:30px;padding-left:40px;padding-right:40px;flex-direction:column;padding-bottom:30px;justify-content:flex-start;border-right-color:#02056CFF;border-right-style:solid;border-right-width:1px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-e3k9g7{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-e3k9g7{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-108219q{display:flex;overflow:hidden;flex-grow:1;max-width:none;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-108219q{width:auto;height:auto;overflow:hidden;flex-grow:unset;max-width:400px;align-self:stretch;flex-basis:auto;max-height:120px;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-108219q{overflow:hidden;max-width:none;flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-nqebqb{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-nqebqb{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-nqebqb{object-fit:cover;}}:not(#\20):not(#\20).r-1tlhnhm{color:#000000FF;font-size:24px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:ObjectSans, sans-serif;font-weight:600;line-height:30px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1tlhnhm{font-size:16px;flex-basis:auto;margin-top:-7px;flex-shrink:0;line-height:20px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1tlhnhm{flex-basis:auto;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-1gxgfq9{display:flex;row-gap:20px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1gxgfq9{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1gxgfq9{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1ytjjbr{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ytjjbr{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ytjjbr{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1x4lyh3{--rsw:100%;color:#2A8559FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1x4lyh3{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1x4lyh3{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1d3dvog{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-tswkcx{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-tswkcx{font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-tswkcx{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-17tj2hf{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-17tj2hf{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-17tj2hf{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1e5dh41{--rsw:100%;color:#2A8559FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1e5dh41{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1e5dh41{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-14kl5wj{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-15w3ukj{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15w3ukj{font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15w3ukj{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-tb1wn9{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-tb1wn9{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-tb1wn9{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1h5ovlq{--rsw:100%;color:#2A8559FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1h5ovlq{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1h5ovlq{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-4klu4f{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-nij8ya{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-nij8ya{font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-nij8ya{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-7tom6o{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-7tom6o{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-7tom6o{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-ymx1kh{--rsw:100%;color:#2A8559FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ymx1kh{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ymx1kh{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1orqhb6{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-1oujqwh{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1oujqwh{font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1oujqwh{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-hry6d1{display:flex;row-gap:30px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:30px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-top:30px;padding-left:40px;padding-right:40px;flex-direction:column;padding-bottom:30px;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-hry6d1{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-hry6d1{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-74o7ka{width:210px;height:329px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-74o7ka{width:77px;height:121px;flex-grow:unset;align-self:center;flex-basis:auto;max-height:none;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-74o7ka{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-18eic6h{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-18eic6h{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-18eic6h{object-fit:cover;}}:not(#\20):not(#\20).r-146iuq8{color:#000000FF;font-size:24px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:ObjectSans, sans-serif;font-weight:600;line-height:30px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-146iuq8{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:20px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-146iuq8{flex-basis:auto;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-16ojnz{display:flex;row-gap:20px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:auto;margin-top:20px;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-16ojnz{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;margin-top:0px;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-16ojnz{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1f0hfmo{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f0hfmo{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f0hfmo{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-16uvt2r{--rsw:100%;color:#D40000FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-16uvt2r{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-16uvt2r{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1cnd4kt{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-1ed5hb{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ed5hb{width:109px;font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ed5hb{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-8h8kc0{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-8h8kc0{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-8h8kc0{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1qh00ce{--rsw:100%;color:#D40000FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1qh00ce{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1qh00ce{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-15ooxgc{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-18mcoy8{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-18mcoy8{font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-18mcoy8{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-10htxq8{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-10htxq8{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-10htxq8{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1wwdru{--rsw:100%;color:#D40000FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1wwdru{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1wwdru{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-4hxqa1{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-1u0falv{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1u0falv{font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1u0falv{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1syeqhk{display:flex;row-gap:15px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1syeqhk{row-gap:10px;position:relative;min-width:auto;column-gap:10px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1syeqhk{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-mptuld{--rsw:100%;color:#D40000FF;width:24px;height:24px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mptuld{--rsw:100%;width:20px;height:20px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mptuld{--rsw:100%;width:24px;height:24px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1eady0z{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-23gcbd{color:#020202;flex-grow:1;font-size:18px;flex-basis:auto;flex-shrink:1;font-family:PPObjectSans, sans-serif;font-weight:400;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-23gcbd{font-size:14px;flex-basis:auto;flex-shrink:1;line-height:16px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-23gcbd{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1kj0vc8{display:flex;row-gap:30px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:30px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1kj0vc8{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1kj0vc8{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-fro1mf{width:100%;cursor:pointer;overflow:hidden;max-width:400px;flex-basis:auto;text-align:center;flex-shrink:0;padding-top:20px;padding-left:32px;padding-right:32px;padding-bottom:20px;text-align-last:center;background-color:#FFF2D2FF;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-fro1mf{cursor:pointer;overflow:hidden;flex-basis:auto;flex-shrink:0;padding-top:16px;padding-left:25px;padding-right:25px;padding-bottom:16px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-fro1mf{cursor:pointer;overflow:hidden;flex-basis:auto;flex-shrink:0;padding-top:16px;padding-left:25px;padding-right:25px;padding-bottom:16px;text-align-last:center;}}:not(#\20):not(#\20).r-ce9t87{color:#000000FF;font-size:20px;flex-basis:auto;flex-shrink:0;font-weight:600;line-height:20px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ce9t87{font-size:18px;flex-basis:auto;flex-shrink:0;line-height:20px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ce9t87{font-size:18px;flex-basis:auto;flex-shrink:0;line-height:20px;}}</style>
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/71d9e724-94e9-4f37-b93b-4df893219519/29b3c8bb-077a-43a1-85e8-4530974f5f17.min.js?v=5be49b64-8dfb-11ee-9866-fa36ffd4baf7" id="https://replocdn.com/w/71d9e724-94e9-4f37-b93b-4df893219519/29b3c8bb-077a-43a1-85e8-4530974f5f17.min.js?v=5be49b64-8dfb-11ee-9866-fa36ffd4baf7"></script><style id="snippet-styles" type="text/css">.alchemy-reset {
  /* HTML5 display-role reset for older browsers */
}
.alchemy-reset :host {
  all: initial;
}
.alchemy-reset * {
  box-sizing: border-box;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset a:visited[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset del[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset em[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset s[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset strong[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset b[data-rid],
.alchemy-reset u[data-rid],
.alchemy-reset i[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset html[data-rid]::-webkit-scrollbar,
.alchemy-reset body[data-rid]::-webkit-scrollbar,
.alchemy-reset div[data-rid]::-webkit-scrollbar,
.alchemy-reset span[data-rid]::-webkit-scrollbar,
.alchemy-reset applet[data-rid]::-webkit-scrollbar,
.alchemy-reset object[data-rid]::-webkit-scrollbar,
.alchemy-reset iframe[data-rid]::-webkit-scrollbar,
.alchemy-reset h1[data-rid]::-webkit-scrollbar,
.alchemy-reset h2[data-rid]::-webkit-scrollbar,
.alchemy-reset h3[data-rid]::-webkit-scrollbar,
.alchemy-reset h4[data-rid]::-webkit-scrollbar,
.alchemy-reset h5[data-rid]::-webkit-scrollbar,
.alchemy-reset h6[data-rid]::-webkit-scrollbar,
.alchemy-reset p[data-rid]::-webkit-scrollbar,
.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,
.alchemy-reset pre[data-rid]::-webkit-scrollbar,
.alchemy-reset a[data-rid]::-webkit-scrollbar,
.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,
.alchemy-reset abbr[data-rid]::-webkit-scrollbar,
.alchemy-reset acronym[data-rid]::-webkit-scrollbar,
.alchemy-reset address[data-rid]::-webkit-scrollbar,
.alchemy-reset big[data-rid]::-webkit-scrollbar,
.alchemy-reset cite[data-rid]::-webkit-scrollbar,
.alchemy-reset code[data-rid]::-webkit-scrollbar,
.alchemy-reset del[data-rid]::-webkit-scrollbar,
.alchemy-reset dfn[data-rid]::-webkit-scrollbar,
.alchemy-reset em[data-rid]::-webkit-scrollbar,
.alchemy-reset img[data-rid]::-webkit-scrollbar,
.alchemy-reset picture[data-rid]::-webkit-scrollbar,
.alchemy-reset ins[data-rid]::-webkit-scrollbar,
.alchemy-reset kbd[data-rid]::-webkit-scrollbar,
.alchemy-reset q[data-rid]::-webkit-scrollbar,
.alchemy-reset s[data-rid]::-webkit-scrollbar,
.alchemy-reset samp[data-rid]::-webkit-scrollbar,
.alchemy-reset small[data-rid]::-webkit-scrollbar,
.alchemy-reset strike[data-rid]::-webkit-scrollbar,
.alchemy-reset strong[data-rid]::-webkit-scrollbar,
.alchemy-reset sub[data-rid]::-webkit-scrollbar,
.alchemy-reset sup[data-rid]::-webkit-scrollbar,
.alchemy-reset tt[data-rid]::-webkit-scrollbar,
.alchemy-reset var[data-rid]::-webkit-scrollbar,
.alchemy-reset b[data-rid]::-webkit-scrollbar,
.alchemy-reset u[data-rid]::-webkit-scrollbar,
.alchemy-reset i[data-rid]::-webkit-scrollbar,
.alchemy-reset center[data-rid]::-webkit-scrollbar,
.alchemy-reset dl[data-rid]::-webkit-scrollbar,
.alchemy-reset dt[data-rid]::-webkit-scrollbar,
.alchemy-reset dd[data-rid]::-webkit-scrollbar,
.alchemy-reset ol[data-rid]::-webkit-scrollbar,
.alchemy-reset ul[data-rid]::-webkit-scrollbar,
.alchemy-reset li[data-rid]::-webkit-scrollbar,
.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,
.alchemy-reset form[data-rid]::-webkit-scrollbar,
.alchemy-reset label[data-rid]::-webkit-scrollbar,
.alchemy-reset legend[data-rid]::-webkit-scrollbar,
.alchemy-reset table[data-rid]::-webkit-scrollbar,
.alchemy-reset caption[data-rid]::-webkit-scrollbar,
.alchemy-reset tbody[data-rid]::-webkit-scrollbar,
.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,
.alchemy-reset thead[data-rid]::-webkit-scrollbar,
.alchemy-reset tr[data-rid]::-webkit-scrollbar,
.alchemy-reset th[data-rid]::-webkit-scrollbar,
.alchemy-reset td[data-rid]::-webkit-scrollbar,
.alchemy-reset article[data-rid]::-webkit-scrollbar,
.alchemy-reset aside[data-rid]::-webkit-scrollbar,
.alchemy-reset canvas[data-rid]::-webkit-scrollbar,
.alchemy-reset details[data-rid]::-webkit-scrollbar,
.alchemy-reset embed[data-rid]::-webkit-scrollbar,
.alchemy-reset figure[data-rid]::-webkit-scrollbar,
.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,
.alchemy-reset footer[data-rid]::-webkit-scrollbar,
.alchemy-reset header[data-rid]::-webkit-scrollbar,
.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,
.alchemy-reset menu[data-rid]::-webkit-scrollbar,
.alchemy-reset nav[data-rid]::-webkit-scrollbar,
.alchemy-reset output[data-rid]::-webkit-scrollbar,
.alchemy-reset ruby[data-rid]::-webkit-scrollbar,
.alchemy-reset section[data-rid]::-webkit-scrollbar,
.alchemy-reset summary[data-rid]::-webkit-scrollbar,
.alchemy-reset time[data-rid]::-webkit-scrollbar,
.alchemy-reset mark[data-rid]::-webkit-scrollbar,
.alchemy-reset audio[data-rid]::-webkit-scrollbar,
.alchemy-reset video[data-rid]::-webkit-scrollbar,
.alchemy-reset button[data-rid]::-webkit-scrollbar,
.alchemy-reset select[data-rid]::-webkit-scrollbar,
.alchemy-reset [data-rid] > p::-webkit-scrollbar {
  display: none;
}
.alchemy-reset button[data-rid] {
  align-items: normal;
}
.alchemy-reset button[data-replo-tabs-trigger] {
  color: inherit;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
.alchemy-reset .alchemy-rte a,
.alchemy-reset .alchemy-rte p,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte h1,
.alchemy-reset .alchemy-rte h2,
.alchemy-reset .alchemy-rte h3,
.alchemy-reset .alchemy-rte mark {
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset .alchemy-rte a::-webkit-scrollbar,
.alchemy-reset .alchemy-rte p::-webkit-scrollbar,
.alchemy-reset .alchemy-rte s::-webkit-scrollbar,
.alchemy-reset .alchemy-rte u::-webkit-scrollbar,
.alchemy-reset .alchemy-rte b::-webkit-scrollbar,
.alchemy-reset .alchemy-rte i::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,
.alchemy-reset .alchemy-rte mark::-webkit-scrollbar {
  display: none;
}
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte strong,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte em,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del,
.alchemy-reset .alchemy-rte li,
.alchemy-reset .alchemy-rte span {
  font-family: inherit;
}
.alchemy-reset .alchemy-rte u {
  text-decoration: underline;
}
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del {
  text-decoration: line-through;
}
.alchemy-reset .alchemy-rte i {
  font-style: italic;
}
.alchemy-reset .alchemy-rte b {
  font-weight: bold;
}
.alchemy-reset .alchemy-rte ul,
.alchemy-reset .alchemy-rte li {
  list-style: inherit;
  padding-left: 1.7em;
}
.alchemy-reset .alchemy-rte code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.alchemy-reset .alchemy-rte pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.alchemy-reset .alchemy-rte pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.alchemy-reset .alchemy-rte img {
  max-width: 100%;
  height: auto;
}
.alchemy-reset .alchemy-rte blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.alchemy-reset .alchemy-rte hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset section[data-rid] {
  display: block;
}
.alchemy-reset body {
  line-height: 1;
}
.alchemy-reset blockquote,
.alchemy-reset q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.alchemy-reset blockquote:before,
.alchemy-reset blockquote:after,
.alchemy-reset q:before,
.alchemy-reset q:after {
  content: "";
  content: none;
}
.alchemy-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alchemy-reset button > picture,
.alchemy-reset button > img,
.alchemy-reset a > picture,
.alchemy-reset a > img {
  display: flex;
}

#replo-fullpage-element {
  max-width: 100vw;
  flex-grow: 1;
  align-self: stretch;
}

.outline--blue {
  outline: 2px solid #2563eb;
}

.strike::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

.replo-modal-after-open {
  overflow-y: hidden !important;
}

.carouselV3--slide-reset {
  max-width: none !important;
}

.carouselV3-no-transition {
  transition: none;
}

.carouselV3-fade-transition {
  transition: opacity 1000ms;
}

.carouselV3-hidden-slide {
  transition: opacity 1000ms;
  opacity: 0;
}

.carouselV3-visible-slide {
  transition: opacity 1000ms;
  opacity: 1;
}

.splide li {
  padding: 0 !important;
  margin: 0;
}
.splide li::before {
  display: none !important;
}
.splide .splide__list {
  overflow: visible !important;
}

@keyframes replo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + var(--replo-marquee-width, 100%) / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-fade {
  from {
    opacity: var(--initial-opacity);
  }
  to {
    opacity: var(--final-opacity);
  }
}
@keyframes alchemy-slide-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes alchemy-slide-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0);
  }
}
@keyframes alchemy-flip-y {
  from {
    opacity: var(--initial-opacity);
    transform: rotateY(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateY(0);
  }
}
@keyframes alchemy-flip-x {
  from {
    opacity: var(--initial-opacity);
    transform: rotateX(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateX(0);
  }
}
@keyframes alchemy-grow {
  from {
    opacity: var(--initial-opacity);
    transform: scale(var(--initial-scale));
  }
  to {
    opacity: var(--final-opacity);
    transform: scale(var(--final-scale));
  }
}
@keyframes alchemy-spin {
  from {
    opacity: var(--initial-opacity);
    transform: rotate(var(--initial-angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotate(var(--final-angle));
  }
}
@keyframes alchemy-fly-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0) scale(1);
  }
}
@keyframes alchemy-fly-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0) scale(1);
  }
}
@keyframes alchemy-drop {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes replo-spin {
  to {
    transform: rotate(360deg);
  }
}
.replo-animate-spinner {
  animation: replo-spin 1s linear infinite;
}

[data-replo-collapsible] .replo-animated {
  overflow: hidden;
}

[data-replo-collapsible] .replo-animated[data-state=open] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-replo-collapsible] .replo-animated[data-state=closed] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track]) {
  scrollbar-width: none;
}
[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track])::-webkit-scrollbar {
  display: none;
}</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      
     </style><style>@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900;950)</style><div class="alchemy__element alchemy-reset"><div data-rid="baa0a5d3-8b05-400e-a04d-14f653698b06" data-replo-repeated-index=".0" class="r-1fpkd4q"><div data-rid="0de3922c-ee8b-45db-8478-fa9db2b7e9d2" data-replo-repeated-index=".0.0" class="r-114ua18"><div data-rid="d29890d4-80db-4bd3-9d0a-ab70893e11ca" data-replo-repeated-index=".0.0.0" class="r-1mdjz6l"><div data-rid="d706604e-c09e-4a1f-89bf-2ae304cfbbe0" data-replo-repeated-index=".0.0.0.0" class="r-indn3u alchemy-rte"><span contenteditable="false" style="width:100%"><p>We put the industry under the microscope</p></span></div><div data-rid="a712b6b0-07b4-40f4-ba6a-b1ac9aa014d6" data-replo-repeated-index=".0.0.0.0" class="r-en2iy8 alchemy-rte"><span contenteditable="false" style="width:100%"><p>Our gummies don't have all the extra "stuff" that you don’t need. Just good for you, wholesome ingredients that help you be your best.</p></span></div></div><div class="r-i5wnfw" data-rid="1"><div data-rid="2a00e3d9-4b20-4238-a3c1-a835622140b6" data-replo-repeated-index=".0.0.0" class="r-1dmzda0"><div data-rid="5ceee340-7f7f-4e95-bb12-dfbc3b7f24be" data-replo-repeated-index=".0.0.0.0" class="r-e3k9g7"><picture data-rid="7d65a3db-700b-4a4b-9453-a438e91a3af2" data-replo-repeated-index=".0.0.0.0.0" class="r-108219q"><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/Mood_02_Yellow_aec222bc-f127-4aa1-81ba-d9bb05c56793.png?v=1672170863&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/Mood_02_Yellow_aec222bc-f127-4aa1-81ba-d9bb05c56793.png?v=1672170863&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/Mood_02_Yellow_aec222bc-f127-4aa1-81ba-d9bb05c56793.png?v=1672170863&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/Mood_02_Yellow_aec222bc-f127-4aa1-81ba-d9bb05c56793.png?v=1672170863&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/Mood_02_Yellow_aec222bc-f127-4aa1-81ba-d9bb05c56793.png?v=1672170863" class="r-nqebqb" loading="eager"/></picture><div data-rid="e370a655-7749-4e07-ae2e-58d24c08de30" data-replo-repeated-index=".0.0.0.0.0" class="r-1tlhnhm alchemy-rte"><span contenteditable="false" style="width:100%"><p>Create Monohydrate Gummies</p></span></div><div data-rid="0a01f53c-23f7-481b-bb23-6a5329acf06f" data-replo-repeated-index=".0.0.0.0.0" class="r-1gxgfq9"><div data-rid="bca651e7-0726-4218-8b6d-b56bc59d1c45" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1ytjjbr"><div data-rid="72d2d8ac-f592-453f-b8ce-0a04dafde9cc" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1x4lyh3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1d3dvog"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path></svg></div><div data-rid="8b1d00ef-9d20-4a41-b99f-c895939aaf23" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-tswkcx alchemy-rte"><span contenteditable="false" style="width:100%"><p>Only essential nutrients</p></span></div></div><div data-rid="d2d39cee-7dc5-4cc5-93d0-c761247a0d1b" data-replo-repeated-index=".0.0.0.0.0.0" class="r-17tj2hf"><div data-rid="6806dd24-a9e8-4c40-a76c-1b28b9462d05" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1e5dh41"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-14kl5wj"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path></svg></div><div data-rid="646392ff-5b8f-43db-8156-252984d39e4a" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-15w3ukj alchemy-rte"><span contenteditable="false" style="width:100%"><p>Sustainably sourced</p></span></div></div><div data-rid="4294aa02-c463-4567-b7f1-6ae37d8068cb" data-replo-repeated-index=".0.0.0.0.0.0" class="r-tb1wn9"><div data-rid="b8fa9d76-58aa-4054-a2f6-c0dc8c377bd3" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1h5ovlq"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-4klu4f"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path></svg></div><div data-rid="2e02d0bb-1d32-4684-8dbe-ccfafe0049db" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-nij8ya alchemy-rte"><span contenteditable="false" style="width:100%"><p>Easy to travel with</p></span></div></div><div data-rid="601d5178-390a-4af5-bf9d-6d8bb54935cc" data-replo-repeated-index=".0.0.0.0.0.0" class="r-7tom6o"><div data-rid="ea21f320-90a7-45a6-8fb2-1e0f7c235859" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-ymx1kh"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1orqhb6"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path></svg></div><div data-rid="7647df54-e4e9-4a4f-a7d7-f4fff6e8028c" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1oujqwh alchemy-rte"><span contenteditable="false" style="width:100%"><p>Will not cause bloating</p></span></div></div></div></div><div data-rid="aa64a336-6295-437f-ba9f-faddb15d7bc1" data-replo-repeated-index=".0.0.0.0" class="r-hry6d1"><picture data-rid="b7634e20-d87e-4179-a81d-b64f7fa31959" data-replo-repeated-index=".0.0.0.0.0" class="r-74o7ka"><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/creatine_6.29.jpg?v=1688060850&amp;width=154" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/creatine_6.29.jpg?v=1688060850&amp;width=420" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/creatine_6.29.jpg?v=1688060850&amp;width=420" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/creatine_6.29.jpg?v=1688060850&amp;width=420" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0611/9204/4732/files/creatine_6.29.jpg?v=1688060850" class="r-18eic6h" loading="eager"/></picture><div data-rid="e55d1669-1800-457e-a26f-38c5843d0573" data-replo-repeated-index=".0.0.0.0.0" class="r-146iuq8 alchemy-rte"><span contenteditable="false" style="width:100%"><p>Standard Creatine</p></span></div><div data-rid="936dee0b-d781-4f59-8185-203ddb4a7942" data-replo-repeated-index=".0.0.0.0.0" class="r-16ojnz"><div data-rid="77a81ef1-46c7-4a3b-b287-34a95536968a" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1f0hfmo"><div data-rid="9376efe5-fbe8-4624-abdb-93fd54db9f0b" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-16uvt2r"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1cnd4kt"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg></div><div data-rid="844f862f-017a-4047-98b6-1b93b9c2ec0c" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1ed5hb alchemy-rte"><span contenteditable="false" style="width:100%"><p>Unwanted ingredients</p></span></div></div><div data-rid="c8b22c1e-258b-4df3-85eb-e5745fd769f0" data-replo-repeated-index=".0.0.0.0.0.0" class="r-8h8kc0"><div data-rid="42c4d247-aa0f-409e-969d-3f4716ed6bc3" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1qh00ce"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-15ooxgc"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg></div><div data-rid="eb392bce-2e31-4b52-a3fa-34d4252b8daa" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-18mcoy8 alchemy-rte"><span contenteditable="false" style="width:100%"><p>Questionably sourced</p></span></div></div><div data-rid="4495cd9a-52be-4e63-886d-dd16383045de" data-replo-repeated-index=".0.0.0.0.0.0" class="r-10htxq8"><div data-rid="5afd4080-3ed8-4802-837c-e042c1246763" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1wwdru"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-4hxqa1"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg></div><div data-rid="31bb9997-af7e-46fa-9460-e9f9e843cb5e" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1u0falv alchemy-rte"><span contenteditable="false" style="width:100%"><p>Doesn't travel well&nbsp;</p></span></div></div><div data-rid="2e4b697a-8c03-43f6-a7a1-0f14221be91f" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1syeqhk"><div data-rid="5f7cb8e6-86ff-44ba-8b2e-2ab726d2f928" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-mptuld"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1eady0z"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg></div><div data-rid="b19a97a3-4d5a-4c44-a487-7aea496dd550" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-23gcbd alchemy-rte"><span contenteditable="false" style="width:100%"><p>Causes bloating &amp; stomach pains</p></span></div></div></div></div></div></div><div data-rid="b06a7ff9-a07b-48f0-97f3-f256979df1fe" data-replo-repeated-index=".0.0.0" class="r-1kj0vc8"><a data-rid="feede9c9-b2e9-4d4a-9e69-16ce67081b2b" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="link" class="text r-fro1mf alchemy-rte" href="https://trycreate.co/pages/gummy-fb#subs-product"><div data-rid="df106369-65aa-4983-bc1c-2da33e40119c" data-replo-repeated-index=".0.0.0.0.0" class="r-ce9t87 alchemy-rte"><span contenteditable="false" style="width:100%"><p>SECURE YOUR OFFER</p></span></div></a></div></div></div></div></div>
</div>
    
    {% schema %}
    {
    "name": "Gummy-Fb Section 5",
        "presets":[{
            "name": "Gummy-Fb Section 5"
        }]
    }
    {% endschema %}
  
  