
.get-your .rte.custom-content {
  color: #1e1e1e;
  text-align: center;
  font-family: Aleo;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 40px;
}

.grid__item.image_part .as-seen {
    display: block;
    width: 100%;
    position: relative;
    clear: both;
    padding-top: 20px;
    text-align: center;
    margin-left: 50px;
}

.as-seen span {
    display: block;
}

.grid__item.text_part .as-seen {
   display: none;
}

.metafield-rich_text_field strong {
    font-weight: 600;
}

.image-with-text .grid h2.image-with-text__heading.h1 {
    font-weight: 800!important;
    font-family: PPObjectSans,sans-serif!important;
}



#shopify-section-template--16190484316346__2b313e94-fd60-4377-825f-c91ef469b434 {
    padding-top: 16px;
    padding-bottom: 0px;
}

.get-your .rte li:before {
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/0940/8252/files/Union.png?v=1695623336);
  width: auto;
  height: auto;
  padding: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.get-your .rte li {
    list-style: none;
    text-indent: -32px;
    margin-left: 32px;
    margin-bottom: 20px;
}

.get-your  .rte ul {
    padding-left: 0px;
}

a.supp-facts {
    color: #1e1e1e;
    text-align: center;
    font-family: auto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    letter-spacing: 3px;
}

.grid__item.image_part h4 {
    display: none;
}

.announcement-bar-blocks {
    background-color: #2c2a21;
    padding: 0;
}

.announcement-bar-blocks p {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: Aleo;
    padding: 0px !important;
    margin: 0px !important;
}

.announcement-bar-blocks a{
    color: transparent;
}

.announcement-bar-blocks em {
    font-style: normal;
    border-bottom: 1px solid #fff;
}

.paid-product-section .custom-heading {
    line-height: 1.5em;
    height: auto;
    margin: 0px;
    padding: 30px 0 50px 0px;
}


section#shopify-section-template--16188459581626__add5cd36-aa4a-4738-b06b-fdaea8c6b2cf {
    margin-top: 3rem !important;
}


@media (max-width:428px){

      .image-with-text__text.rte.desk div p:nth-child(1), .image-with-text__text.rte.desk div p:nth-child(2) {
          display: none;
      }

       .product-with-text .image-with-text__content .image-with-text__text.rte.mob {
          display: block!important;
      }

      .image-with-text__text.rte.desk div p:last-child {
          font-size: 14px;
      }

      

      div[data-section-identifier="paid-product-with-text-weight-loss-v2"] .carousel-container {
        margin-top: 15px;
    }

    .image_part .image-with-text__heading {
        display: block !important;
    }

      .get-your .rte li {
          margin-bottom: 10px;
      }
  
    .grid__item.image_part h4 {
        text-align: center;
        margin-top: 10px;
        display:block;
    }
    
    .get-your .rte.custom-content {
        font-size: 16px;
        width: 90%;
        margin: auto;
        margin-bottom: 45px;
        padding-top: 10px;
    }

    a.supp-facts {
        font-size: 16px;
    }

    .grid__item.text_part h4 {
        display: none;
    }
  
    .image_part .image-with-text__heading {
      display:block;
      text-align: center;
    }

    .text_part .image-with-text__heading {
      display:none;
    }

    .text_part .image-with-text__content>*+* {
          margin-top: 10px;
      }
      
    
      .product-with-text .image-with-text__content .image-with-text__text.rte.mob {
        display:block;
        margin-top: 10px !important;
        margin-botton:10px;
      }

      .product-with-text .image-with-text__content .image-with-text__text.rte.mob .metafield-rich_text_field p:not(:last-child) {
        display:block!important;
        font-size: 16px;
      }

      .product-with-text .image-with-text__content .image-with-text__text.rte.mob .metafield-rich_text_field p:last-child {
        display:none!important;
      }

        section#centered-badges div.page-width img:nth-child(13) {
            display: none;
        }

      #shopify-section-announcement-bar2 .announcement-bar-blocks p {
          font-size: 12px;
      }

      .image-with-text .grid h2.image-with-text__heading.h1 {
          padding-bottom: 30px;
      }

    .grid__item.image_part .as-seen {
        display: none;
    }

    .grid__item.text_part .as-seen {
        display: block;
        margin-left: 0px;
        margin-bottom: 20px;
    }





  
}